.user-png{
    width: 30px;
    height: 30px;
}
.navbar-brand{
    color: red;
}
.btn-nav{
    background-color: red;
    border-radius: 5px;
    color: aliceblue !important;
    font-weight: bold;
    
    
}